cef_user_data/WidevineCdm
Code
Franz
autostart
dconf
enchant
evolution/sources
gedit
github-copilot
gnome-control-center/backgrounds
goa-1.0
gtk-3.0
gtk-4.0
ibus/bus
inkscape
lazygit
nvim.bak
pop-shell
pop-system-updater
pulse
qalculate
rambox
spotify
touchegg
.gsd-keyboard.settings-ported
QtProject.conf
gnome-initial-setup-done
mimeapps.list
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
